
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.marker {
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}
.searchbox {
  border: 1px solid black;
  border-radius: 0px;
  height: 10em;
  z-index: 10 ;
}